
  .member-tabset > .tab-content {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  